
.text-center {
  text-align: center; }

.btn {
  border: none;
  display: inline-block;
  padding: 8px 32px; }
  .btn-light {
    border: 1px solid #080808;
    background-color: whitesmoke;
    color: rgba(5, 47, 217, 0.419);
    font-weight: 900;
    transition: all 0.4s ease-in; }
    .btn-light:hover {
      border: none;
      background-color: #fff;
      color: #333;
      font-weight: bold; }
  .btn-dark {
    border: 1px solid #333;
    color: #fff;
    background-color: #333;
    transition: all 0.4s ease-in;
  margin-bottom: 50px; }
    
    .btn-dark:hover {
      opacity: 0.8; }

.py-1 {
  padding:0px; }
.py-2 {
  padding:32px; }
.py-3 {
  padding: 48px; }
.py-4 {
  padding: 64px; }

.my-1 {
  margin: 0px; }
.my-2 {
  margin: 32px; }
.my-3 {
  margin: 48px; }
.my-4 {
  margin: 64px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

img {
  width: 100%;
  height: 100%; }

body {
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.text-primary {
  color: #ffc61a; }

.container {
  margin: auto;
  padding: 32px;
  max-width: 1100px;
  overflow: hidden; }

#showcase {
  background: url("../photos/pexels-aleksandar-pasaric-1758672-darker.jpg") no-repeat center center/cover;
  height: 100vh; }
  #showcase #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    width: 100%; }
    #showcase #navbar .logo {
      font-family: "Monoton", cursive;
      color: #fff;
      font-size: 32px; }
    #showcase #navbar ul {
      display: flex; }
    #showcase #navbar li {
      padding-left: 24px; }
    #showcase #navbar a {
      color: #333;
      font-weight: bold; }
      #showcase #navbar a:hover {
        color: #fff; }
  #showcase .show-content {
    text-align: center;
    padding-top: 176px; }
    #showcase .show-content h3 {
      font-size: 32px;
      color: #fff;
      margin: 24px; }

#home-a {
  color: #333; }
  #home-a .process-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    #home-a .process-container div {
      padding: 32px 32px;
      border: 2px solid #333;
      margin: 48px 16px;
      border-radius: 5px;
      transition: all 0.3s ease-in; }
      #home-a .process-container div:hover {
        transform: translate(-4px, -4px);
        box-shadow: 1px 1px 8px -1px #333;
        border-radius: 0; }
      #home-a .process-container div hr {
        width: 160px; }
#home-b .features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  #home-b .features-container div {
    background: #ddd;
    padding: 80px; }
    #home-b .features-container div:nth-child(even) {
      background: #f6f6f6; }
#home-c .award-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px; }
#home-c div {
  padding: 0 32px 24px 32px; }
#home-c h1 {
  padding-bottom: 32px; }
#home-c i {
  color: rgba(5, 47, 217, 0.419) }
#home-d {
  color: #333; }
  #home-d .word-content {
    background-color: rgba(5, 47, 217, 0.419);
    padding: 80px;
    margin-top: 32px; }

#project {
  padding: 0 0 48px 0; }
  #project #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    width: 100%;
    padding: 8px; }
    #project #navbar h3 {
      font-family: "Monoton", cursive;
      font-size: 32px;
      color: #fff; }
    #project #navbar ul {
      display: flex; }
    #project #navbar li {
      padding-left: 8px; }
    #project #navbar a {
      color: #fff;
      font-weight: bold; }
      #project #navbar a:hover {
        color: #ffc61a; }
  #project-a .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0 32px 0;
    grid-gap: 8px; }
    #project-a .items .text-title {
      font-size: 19px;
      display: none;
      transition: all 0.2s ease-in; }
    #project-a .items img {
      width: 100%;
      height: 100%;
      transition: all 0.2s ease; }
      #project-a .items img:hover {
        opacity: 0.7;
        width: 100%;
        height: 100%; }
    #project-a .items .item:hover .text-title {
      display: block; }

#about {
  padding: 0 0 48px 0; }
  #about #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    width: 100%;
    padding: 8px; }
    #about #navbar h3 {
      font-family: "Monoton", cursive;
      font-size: 32px;
      color: #fff; }
    #about #navbar ul {
      display: flex; }
    #about #navbar li {
      padding-left: 24px; }
    #about #navbar a {
      color: #fff;
      font-weight: bold; }
      #about #navbar a:hover {
        color: #ffc61a; }
  #about-a .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0; }
    #about-a .about-container div:last-child {
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 32px; }
  #about-c .grid-plan {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    #about-c .grid-plan div ul {
      display: flex; }
      #about-c .grid-plan div ul li {
        padding-left: 12px; }
    #about-c .grid-plan img {
      width: 300px;
      height: 200px;
      border-radius: 5px; }

#blog {
  padding: 0 0 48px 0; }
  #blog #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    width: 100%;
    padding:8px; }
    #blog #navbar h3 {
      font-family: "Monoton", cursive;
      font-size: 32px;
      color: #fff; }
    #blog #navbar ul {
      display: flex; }
    #blog #navbar li {
      padding-left: 24px; }
    #blog #navbar a {
      color: #fff;
      font-weight: bold; }
      #blog #navbar a:hover {
        color: #ffc61a; }
  #blog-a .blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px 0; }
    #blog-a .blog-grid .post-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 16px 64px;
      background-color: #f6f6f6; }
      #blog-a .blog-grid .post-info a {
        margin: 16px 0; }

#contact {
  padding: 0 0 48px 0; }
  #contact #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    width: 100%;
    padding: 8px; }
    #contact #navbar h3 {
      font-family: "Monoton", cursive;
      font-size: 32px;
      color: #fff; }
    #contact #navbar ul {
      display: flex; }
    #contact #navbar li {
      padding-left: 24px; }
    #contact #navbar a {
      color: #fff;
      font-weight: bold; }
      #contact #navbar a:hover {
        color: #ffc61a; }
  #contact-a .form-group {
    margin: 8px 0; }
  #contact-a a {
    margin-bottom: 16px; }
  #contact-a .form-group label {
    display: block; }
  #contact-a .form-group input {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    outline-color: #333; }
  #contact-a .form-group textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 16px; }

#main-footer {
  background-color: #333;
  padding: 32px; }
  #main-footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    color: #fff; }
  #main-footer i {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-left:11px ;
    transition: all 0.3s ease-in; }
    #main-footer i:hover {
      color: #ffc61a;
      border-color: #ffc61a; }


      
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.7;
  font-family: stack-font;
  font-size: 1rem;
}

.text-primary {
  color: primary-color;
}

.container {
  margin: auto;
  padding: 0 2rem;
  max-width: 1100px;
  overflow: hidden;
}

#showcase {
  background: url("../photos/backk.jpg") no-repeat center center/cover;
  height: 100vh;
}

#showcase #navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  width: 100%;
  
}

#showcase .logo {
  font-family: logo-font;
  color: white-color;
  font-size: 2rem;
}

#showcase ul {
  display: flex;
  margin-right: 50px;
}

#showcase li {
  padding-left: 1.5rem;
}

#showcase a {
  color: #333;
  font-weight: bold;
}

#showcase a:hover {
  color: white-color;
}

#showcase .show-content {
  text-align: center;
  padding-top: 11rem;
}

#showcase .show-content h3 {
  font-size: 2rem;
  color: white-color;
  margin: 1.5rem 0;
}

#home-a {
  color: #333;
}

#home-a .process-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#home-a .process-container div {
  padding: 2rem 2rem;
  border: 2px solid #333;
  margin: 3rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

#home-a .process-container div:hover {
  transform: translate(-4px, -4px);
  box-shadow: 1px 1px 8px -1px #333;
  border-radius: 0;
}

#home-a .process-container div hr {
  width: 160px;
}

#home-b .features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#home-b .features-container div {
  background: #ddd;
  padding: 5rem;
}

#home-b .features-container div:nth-child(even) {
  background: #f6f6f6;
}

#home-c .award-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

#home-c div {
  padding: 0 2rem 1.5rem 2rem;
}

#home-c h1 {
  padding-bottom: 2rem;
}

#home-c i {
  color: primary-color;
}

#home-d {
  color: #333;
}

#home-d .word-content {
  background-color: primary-color;
  padding: 5rem 0;
  margin-top: 2rem;
}

#project {
  padding: 0 0 3rem 0;
}

#project #navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #333;
  width: 100%;
  padding: 0.5rem;
}

#project #navbar h3 {
  font-family: logo-font;
  font-size: 2rem;
  color: white-color;
}

#project #navbar ul {
  display: flex;
}

#project #navbar li {
  padding-left: 1.5rem;
}

#project #navbar a {
  color: white-color;
}

#project #navbar a:hover {
  color: primary-color;
}

#project #project-a .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 0 2rem 0;
  grid-gap: 0.5rem;
}

#project #project-a .items .text-title {
  font-size: 1.2rem;
  display: none;
  transition: all 0.2s ease-in;
}

#project #project-a .items img {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}

#project #project-a .items img:hover {
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

#project #project-a .items .item:hover .text-title {
  display: block;
}

#about {
  padding: 0 0 3rem 0;
}

#about #navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #333;
  width: 100%;
  padding: 0.5rem;
}

#about #navbar h3 {
  font-family: logo-font;
  font-size: 2rem;
  color: white-color;
}

#about #navbar ul {
  display: flex;
}

#about #navbar li {
  padding-left: 1.5rem;
}

#about #navbar a {
  color: white-color;
}

#about #navbar a:hover {
  color: primary-color;
}

#about #about-a .about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
}

#about #about-a .about-container div:last-child {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 2rem;
}

#about #about-c .grid-plan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#about #about-c .grid-plan div ul {
  display: flex;
}

#about #about-c .grid-plan div ul li {
  padding-left: 0.7rem;
}

#about #about-c .grid-plan img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

#blog {
  padding: 0 0 3rem 0;
}

#blog #navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #333;
  width: 100%;
  padding: 0.5rem;
}

#blog #navbar h3 {
  font-family: logo-font;
  font-size: 2rem;
  color: white-color;
}

#blog #navbar ul {
  display: flex;
}

#blog #navbar li {
  padding-left: 1.5rem;
}

#blog #navbar a {
  color: white-color;
}

#blog #navbar a:hover {
  color: primary-color;
}

#blog #blog-a .blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem 0;
}

#blog #blog-a .blog-grid .post-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 4rem;
  background-color: #f6f6f6;
}

#contact {
  padding: 0 0 3rem 0;
}

#contact #navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #333;
  width: 100%;
  padding: 0.5rem;
}

#contact #navbar h3 {
  font-family: logo-font;
  font-size: 2rem;
  color: white-color;
}

#contact #navbar ul {
  display: flex;
}

#contact #navbar li {
  padding-left: 1.5rem;
}

#contact #navbar a {
  color: white-color;
}

#contact #navbar a:hover {
  color: primary-color;
}

#contact #contact-a .form-group {
  margin: 0.5rem 0;
}

#contact #contact-a a {
  margin-bottom: 1rem;
}

#contact #contact-a .form-group label {
  display: block;
}

#contact #contact-a .form-group input {
  display: block;
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #333;
  border-radius: 5px;
  outline-color: #333;
}

#contact #contact-a .form-group textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 1rem;
}

#main-footer {
  background-color: #333;
  padding: 2rem;
}

#main-footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  color: white-color;
}

#main-footer i {
  padding: 1.2rem 1.2rem;
  border: 1px solid white-color;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 0.7rem;
  transition: all 0.3s ease-in;
}

#main-footer i:hover {
  color:primary-color;
  border-color:primary-color;
}
